

@page
@model NguyenNgocThien_BanHang.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Bạn đã đăng xuất thành công khỏi ứng dụng.</p>
</header>